
.body{
  margin: 0;
}

.navColumn {
  background-color: rgba(240,240,240,0.5);
  min-width: 250px;
  padding: 20px;
}

.lotArea {
  display:flex;
  background-color: #e5e5e57A;
  padding: 0px;
  height: 100vh;
  margin: 0;
}

.lotTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 220px;
  height: 440px;
  box-shadow: 0 0 8px 3px #d3ecf8DF;
  border-radius: 1rem;
}

.lotTile:hover {
  transform: translateY(3px);
  box-shadow: 0 3px 8px 3px #d3ecf8FF;
}

.lotHeader {
  justify-self: flex-start;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
}

.lotDetails {
  height: 65%;
  align-content: center;
  display: grid;
}

.carIcon {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  justify-self: center;
  fill: #797979;
}

.lotBtn {
  flex-grow: 1;
  display: grid;
  align-content: center;
}

.lotTile button {
  justify-self: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.35em;
  border: none;
  border-radius: 35%;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lotTile .acceptButton {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8em;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.lotTile button:hover,
.lotTile button:focus{
  background-color: darkcyan;
  font-weight: bolder;
}

.App {
  text-align: center;
  margin: 1rem;
}

.selectMsg {
  color: dodgerblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
