@import url('https://fonts.cdnfonts.com/css/fe-font');
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullView {
  display: flex;
}

.navColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(59, 59, 59, 0.5);
  min-width: 250px;
  padding: 35px 45px 35px 35px;
  font-family: Helvetica, sans-serif;
}

.parkedLogo {
  width: 7em;
  height: 7em;
  margin: 5px;
  align-self: center;
  fill: #d8edf6;
  filter: drop-shadow(0px 3px 4px rgb(0 0 0 / 0.4));
}

.garageTitle {
  margin-top: 20px;
  font-weight: 505;
  letter-spacing: -1px;
  color: #e8e8e8;
  text-shadow: 0 0 2px rgba(0,0,0,0.6);
  font-family: inherit;
}

.occupancyStatus {
  color: #70c770;
  font-size: 1.2em;
  font-weight: 505;
  text-shadow: 0 0 1px rgba(225,225,225,0.6);
  margin: 10px 0;
}

.occupancyStatus p {
  margin: 3px;
}

.full {
  color: #f85757;
}

.navAcceptBtn {
  border: none;
  border-radius: 5px;
  align-self: center;
  font-size: 1.2em;
  font-weight: 550;
  letter-spacing: 0.01em;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: lightblue;
  color: #FFFFFFEF;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.navAcceptBtn:disabled {
  background-color: #ADD8E67F;
  color: #FFFFFF8F;
}

.navAcceptBtn:hover,
.navAcceptBtn:focus {
  transform: translateY(-2px);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.navAcceptBtn:active {
  background-color: #90cee3;;
  box-shadow: inset 0px 0px 3px rgba(0,0,0, 0.6);
}

/*nav bar content end */

.lotArea {
  flex-grow: 1;
  display:flex;
  flex-wrap: wrap;
  background-color: #e5e5e58f;
  height: 100vh;
  padding: 20px;
}

.lotTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 220px;
  min-width: 220px;
  height: 440px;
  min-height: 440px;
  box-shadow: 0 0 8px 3px #d3ecf8DF;
  border-radius: 1rem;
}

.lotTile:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px 3px #d3ecf8FF;
}

.lotHeader {
  justify-self: flex-start;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
}

.lotDetails {
  height: 65%;
  align-content: center;
  display: grid;
}

.carIcon {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  justify-self: center;
  fill: #606060DF;
}

.plateNumber {
  justify-self: center;
  font-family: "FE-Font", sans-serif;
  letter-spacing: 0.1em;
  color: #606060;
}

/*       Time stamp start      */

.timeStamp {
  background-color: #D3D3D3DF;
  padding: 2px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9em;
  color: rgba(255, 255, 239, 0.9);
}

.clockIcon {
  display: inline-block;
  width: 1.35em;
  height: 1.35em;
  margin-right: 5px;
  stroke: rgba(255, 255, 239, 0.9);
}

.days {
  display: inline-block;
  margin: 0;
  align-self: center;
}

.hours {
  align-self: center;
  margin: 0 5px;
}

/*         Time stamp end         */

.lotCost {
  margin: 15px 0 -10px 0 ;
  grid-template-columns: auto 1fr;
  gap: 4px;
  display: grid;
  font-family: Helvetica, sans-serif;
  font-weight: 525;
  color: rgba(29, 91, 91, 0.75);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.lotCost p {
  margin: 3px;
}

.lotBtn {
  flex-grow: 1;
  display: grid;
  align-content: center;
}

.lotTile button {
  justify-self: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.35em;
  border: none;
  border-radius: 35%;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lotTile .acceptButton {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8em;
  padding-bottom: 4px;
  margin-bottom: 40px;
}

.lotTile button:hover,
.lotTile button:focus{
  background-color: #45b8de;
  font-weight: bolder;
}

.App {
  text-align: center;
  margin: 1rem;
}

.selectMsg {
  color: dodgerblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
