.body{
  margin: 0;
}

.navColumn {
  background-color: rgba(240,240,240,0.5);
  min-width: 250px;
  padding: 20px;
}

.lotTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  min-width: 225px;
  min-height: 450px;
  border: 2px double lightblue;
  border-radius: 1rem;
}

.lotHeader {
  justify-self: flex-start;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
}

.lotDetails {
  flex-grow: 1;
}

.lotBtn {
  flex-grow: 1;
  display: grid;
  align-content: center;
  padding-bottom: 20px;
}

.lotTile button {
  justify-self: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 40%;
  background-color: lightblue;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lotTile button:hover,
.lotTile button:focus{
  background-color: darkcyan;
  font-weight: bolder;
}

.App {
  text-align: center;
  margin: 1rem;
}

.selectMsg {
  color: dodgerblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
